<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Paypal payment gateway</title>
</head>
<body>
    <h1>Nvidia Graphics card </h1>
    <h3>buy for Rs. 2 /-</h3>
    <form action="/pay" method="post">
     <input type="submit" value="Buy">
    </form>
</body>
</html>